<form class="relative">
  <input
    class="
      focus:border-light-blue-500
      focus:ring-1
      focus:ring-light-blue-500
      focus:outline-none
      w-full
      text-sm text-black
      placeholder-gray-500
      border border-gray-200
      rounded-md
      py-2
    "
    type="text"
    placeholder="Subject"
    id="search"
    name="search"
  />

  <textarea
    class="
      focus:border-light-blue-500
      focus:ring-1
      focus:ring-light-blue-500
      focus:outline-none
      w-full
      text-sm text-black
      placeholder-gray-500
      border border-gray-200
      rounded-md
      py-2
      mt-3
    "
    type="text"
    placeholder="Message / Feedback / Request"
    id="search"
    name="search"
    rows="16"
  ></textarea>

  <input
    type="submit"
    class="mt-2 rounded-md py-2 px-3 text-gray-100 text-left bg-blue-600"
    value="Submit Feedback"
  />
</form>