<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/tailwind.css" />
<meta name="theme-color">
<style>
  html {
    padding: 1rem;
    font-family: Roboto Mono, Menlo, monospace;
    min-height: 100vh;
    position: relative;
  }
</style>
<link rel="icon" href="https://cloud-ezksrr8rf-hack-club-bot.vercel.app/0boat_large__black_.jpg" type="image/png" />
<title>NLCS Singapore Student Feedback System</title>

<!-- Primary Meta Tags -->
<title>NLCS Singapore Student Feedback System</title>
<meta name="title" content="NLCS Singapore Student Feedback System">
<meta name="description" content="Share a message or concern with the Big 6 to help make the school even better!">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="NLCS Singapore Student Feedback System">
<meta property="og:description" content="Share a message or concern with the Big 6 to help make the school even better!">
<meta property="og:image" content="https://cloud-eegvrgww3-hack-club-bot.vercel.app/0sfs_meta-2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://metatags.io/">
<meta property="twitter:title" content="NLCS Singapore Student Feedback System">
<meta property="twitter:description" content="Share a message or concern with the Big 6 to help make the school even better!">
<meta property="twitter:image" content="https://cloud-eegvrgww3-hack-club-bot.vercel.app/0sfs_meta-2.png">

<link rel="stylesheet" href="/static/easymde.min.css">
<script src="/static/easymde.min.js"></script>
<script src="/static/instantclick.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<style>
  @media (min-width: 768px) {
    .md\:h-96 {
      height: 24.2rem!important/* 384px */;
    }
  }

  .md\:min-w-96{
    min-width: 24rem!important;
  }

  .prose h2 {
    font-weight: 700!important;
    margin-bottom: 0.5em!important;
  }

  .prose p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
</style>