<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/static/tailwind.css" />
<style>
  html {
    padding: 1rem;
    font-family: Roboto Mono, Menlo, monospace;
    min-height: 100vh;
    position: relative;
  }
</style>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<title>NLCS Singapore Student Feedback System</title>
<link rel="stylesheet" href="/static/easymde.min.css">
<script src="/static/easymde.min.js"></script>
<script src="/static/instantclick.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<style>
  @media (min-width: 768px) {
    .md\:h-96 {
      height: 24.2rem!important/* 384px */;
    }
  }

  .md\:min-w-96{
    min-width: 24rem!important;
  }

  .prose h2 {
    font-weight: 700!important;
    margin-bottom: 0.5em!important;
  }

  .prose p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
</style>