<div class="flex bg-blue-600" style="margin: -1rem; padding: 0.6rem 1rem; margin-bottom: 1rem;">
  <div class="font-semibold flex-grow flex items-center text-white">
    <img
      src="https://cloud-ezksrr8rf-hack-club-bot.vercel.app/0boat_large__black_.jpg"
      class="
        bg-white
        rounded-md
        p-1
        h-8
        w-8
        inline-flex
        items-center
        justify-center
        mr-3
        ml-1
      "
    >
    </span>
    <a style="transform: translateY(0.6px)" href="/" class="hidden md:block">NLCS Singapore Student Feedback System</a>
    <a style="transform: translateY(0.6px)" href="/" class="md:hidden">Student Feedback</a>
  </div>
  <div class="flex items-center justify-end">
    <span style="transform: translateY(0.6px)">
      <a href="/updates" class="mr-3 hover:underline text-white">Updates</a>
    </span>
  </div>
</div>
