<!DOCTYPE html>
<html lang="en" class="font-body">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="md:flex">
      <div class="prose flex-grow md:mr-24 max-w-none mt-2">
        <h2 class="font-semibold">
          Garlic bread with cheese: What the science tells us
        </h2>
        <p>
          For years parents have espoused the health benefits of eating garlic
          bread with cheese to their children, with the food earning such an
          iconic status in our culture that kids will often dress up as warm,
          cheesy loaf for Halloween.
        </p>
        <p>
          But a recent study shows that the celebrated appetizer may be linked
          to a series of rabies cases springing up around the country.
        </p>
        <!-- ... -->
      </div>
      {% include 'recent.html' %}
    </div>
  </body>
</html>
