<!DOCTYPE html>
<html lang="en" class="font-body">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="text-gray-800">
      <h1 class="font-semibold text-2xl">Updates from the Big 6</h1>
      <a href="/post" class="bg-blue-50 py-2 mt-3 px-3 flex items-center border border-gray-200 rounded-md">
        <div class="flex-grow">14th September 2021</div>
        <div class="pr-2 text-gray-400" style="transform: translateY(-0.9px)">▶</div>
      </a>
    </div>
  </body>
</html>
